.parent{
    -fx-background-color: #000000;
}
.label{
    -fx-text-fill: #efb810;
}
.label:hover{
    -fx-underline: true;
}
.button{
    -fx-background-color: #293133;
    -fx-text-fill: #efb810;
    -fx-background-radius: 10px;
}
.button:hover{
    -fx-background-color: #efb810;
    -fx-text-fill: #293133;
    -fx-border-color: #efb810;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}
.textfield{
    -fx-background-color: #293133;
    -fx-text-fill: #efb810;
}
.textfield:focused{
    -fx-background-color: #efb810;
    -fx-text-fill: #293133;
}
